@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'variables';

header{

}

main{

}

footer{
  background: $backgroundcolor;
  text-align: center;
  clear: both;
  .container1 {
    border: $borderwidth solid $bordercolor
  }
  .container2 {
    border: $borderwidth solid $bordercolor
  }
}

.address {
  iframe{
    position: relative;
  }
  div {
    position: absolute;
    left: 40%;
    bottom: -90px;
    text-shadow: 1px 1px 1px black;
    font-size: 16px;
    color: white;
  }
}
