@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'variables';

header{

}

main{

}

footer{
  text-align: center;
  .container1 {
    border: $borderwidth solid $bordercolor
  }
  .container2 {
    border: $borderwidth solid $bordercolor
  }
}
